.beer-list {
    margin-bottom: $xl-size;
}

.beer-list__item:first-of-type {
    border-top: 1px solid $border-color;
}

.beer-list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $border-color;
    border-top: 0;
    color: $dark-gray;
    padding: $m-size;
    text-decoration: none;
    transition: background $easing-time $easing-type;
    word-break: break-all;
    &:hover {
        background: $off-white;
    }
    @media (max-width: $mobile-breakpoint){
       flex-direction: column;
       padding: $s-size;
    }
    span {
        font-size: $font-size-small;
        color: $middle-gray;
    }
    img {
        margin-right: $m-size;
    }
}

.item-left {
    display: flex;
    align-items: center;
    div {
        display: flex;
        flex-direction: column;
    }
    @media (max-width: $mobile-breakpoint) {
        margin-bottom: $s-size;
    }
}


