.box-layout {
    background: url('/images/aditya-chinchure-570860-unsplash-50.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-layout__box {
    background: fade-out(white, .15);
    border-radius: 3px;
    text-align: center;
    padding: 6rem;
    margin-bottom: 6rem;
}

.box-layout__title {
    margin: 0 0 3rem;
    line-height: 1;
}

.box-layout__tagline {
    margin-bottom: 3rem;
}