.button {
    border: none;
    color: white;
    padding: $s-size $m-size;
    font-weight: 300;
    font-size: $font-size-large;
    transition: $easing-time $easing-type;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
}

@mixin darkenHover($color) {
    background: $color;
    &:hover, &.active {
        background: darken($color, 10%);
    } 
}

@mixin darkenActive($color) {
    background: $color;
    background: darken($color, 10%);
}

.button--blue {
    background: $blue;
    @include darkenHover($blue);
}





