.form {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: $m-size;
    }
}

.mb-0 {
    margin-bottom: 0;
}

.form__error {
    margin-bottom: $m-size;
    font-style: italic;
}

.SingleDatePickerInput_1 {
    border: 1px solid $border-color !important;
}

