.text-input {
    border: 1px solid #cacccd;
    height: 50px;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
}

.select {
    @extend .text-input;
    -webkit-border-radius: 0;
    border: 0;
    outline: 1px solid #cacccd;
    outline-offset: -1px;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}