// colors

$dark-gray: #333;
$middle-gray: #636363;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #ececec;

// spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// font size

$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// breakpoints

$mobile-breakpoint: 45rem;

// borders

$border-color: #cacccd;

// easing

$easing-time: 50ms;
$easing-type: ease-in-out;